@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url(fonts/Helvetica/HelveticaNeueCyr-Thin.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url(fonts/Helvetica/HelveticaNeueCyr-Light.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(fonts/Helvetica/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(fonts/Helvetica/HelveticaNeueCyr-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(fonts/Helvetica/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(fonts/Gilroy/Gilroy-Bold.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
	/* padding-top: 75px; */
}

.fs-075 {
	font-size: .85rem;
}

.text-corporation-orange {
	color: #f49100;
}

.text-corporation-blue {
	color: #26136d;
	/* text-shadow: 3px 0 3px white, 0 3px 3px white, -3px 0 3px white, 0 -3px 3px white; */
}

h1 {
	font-size: 3.25rem;
}

.header-subtitle {
	font-family: HelveticaNeueCyr-Roman;
	max-width: 1050px;
	text-align: center;
	margin: auto;
	font-size: 2rem;
}

.woocommerce-loop-category__title {
	font-size: 18px;
    line-height: 1.3;
	margin-bottom: 1rem;
	font-weight: 500;
}

.h2-dark {
	border: 50px solid;
	border-image: url(images/icons/venz-dark.png) 50 repeat;
	display: inline-block;
	color: #343a40;
}

.h2-yellow {
	border: 50px solid;
	border-image: url(images/icons/venz-yellow.png) 50 repeat;
	display: inline-block;
	color: #343a40;
}

p {
	font-size: 1.125rem;
}

.section-sutitle {
	color: #323232;
    font-family: HelveticaNeueCyr-Light;
    font-size: 22px;
}

.mark, mark {
    padding: 0;
    background-color: inherit;
	font-weight: 300;
}

.section-description {
	font-size: 1.125rem;
	max-width: 850px;
	margin: auto;
	text-align: center;
}

.scroll-points {
	position: relative;
	top: -65px
}


/*** BUTTONS ***/
.btn-lg {
    line-height: 2;
}

.btn-corporation-orange {
	color: #ffffff;
    background-color: #f49100;
    border-color: #f49100;
	font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
	/*height: 40px;*/
}

.btn-corporation-orange:hover {
    color: #ffffff;
    background-color: #d17c00;
    border-color: #d17c00;
}

.btn-corporation-orange:active {
    color: #ffffff;
    background-color: #b16a01;
    border-color: #b16a01;
}

.btn-corporation-orange:focus {
	box-shadow: 0 0 1px 3px rgba(209,124,0,.5);
}

.btn-corporate-color-1-outline {
    color: #f49100;
    background-color: none;
    border-color: #f49100;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
}

.btn-corporate-color-1-outline:hover {
    color: #ffff;
    background-color: #f49100;
    border-color: #f49100;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
}

/**/
.btn-corporate-color-1-outline:active {
    background-color: #d17c00;
}

.btn-corporate-color-1-outline:focus {
    box-shadow: 0 0 1px 3px rgba(209,124,0,.5);
}
/*** BUTTONS ***/


/* Form control corporate 2 */
.form-control-corporate-2 {
    display: block;
    width: 100%;
    padding: 0.45rem 0.75rem;
	font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 1.5;
    /*color: #ffe5d0;*/
    background: none;
    background-clip: padding-box;
	border: 2px solid #f49100;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-bottom: 20px;
}

.form-control-corporate-2:focus, .form-control-corporate-2:active, .form-control-corporate-2 :checked {
	border: 2px solid #f49100;
}
/* End form control corporate 2 */


.text-company-brown {
	color: yellow;
}

#carouselInnerOne img {
	height: 400px;
	width: auto;
}

#homePagePortfolio .carousel-inner {
	padding: 25px;
}

#homePagePortfolio .carousel-item {
	height: 500px;
	text-align: center;
	line-height: 495px;
}

#homePagePortfolio .carousel-item img {
	max-height: 100%;
	max-width: 100%;
}

/* Menu */
.nav-contacts {
	text-align: right;
}

.nav-tel {
	color: #26136d;
	transition: .25s;
	/* -webkit-text-stroke-width: .5px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white; */
	font-weight: 800;
	font-size: 1.25rem;
	/* text-shadow: 2px 2px 5px rgba(0,0,0,.5); */
}

.nav-tel:hover {
	color: #102a83;
}

#navbar-brand {
	/* Logo height in menu must have 70px */
	height: 60px;
	/* width: auto; */
	/* width: 100%;
	max-width: 150px; */
	transition: .5s;
}


.scroll-point {
	position: relative;
	top: -75px;
}

#top-menu {
	background: #f49100;
}

#top-menu .nav-link {
	font-size: .85rem;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(38,19,109,.75);
}

#top-menu .nav-link:hover {
	color: rgba(38,19,109,1);
}

#top-menu .nav-link.active {
	font-weight: 700;
}
/* /Menu */


/*** HEADER ***/
header {
	background-size: cover;
	background-position: center;
	padding-top: 50px;
}

/* Header parallax */
header .parallax {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 800px;
	background: url(images/header-bg.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
	display: block;
}
/* End Header parallax */

/* Header parallax for Other sections */
.parallax-2 {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 50px;
	background: url(images/header-bg.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
	display: block;
}

.shkafy-cupe-header .parallax-2 {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 50px;
	background: url(images/shkafy-cupe-header-parallax.webp) center no-repeat;
	background-size: cover;
	z-index: -1;
	display: block;
}
/* End Header parallax for Other sections */

header h2 {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 40px;
}

header h3 {
	font-family: HelveticaNeueCyr-Medium;
    font-size: 18px;
}

header h3 + p {
	font-family: HelveticaNeueCyr-Light;
    font-size: 18px;
}

.header-description {
	font-family: HelveticaNeueCyr-Medium;
    font-size: 22px;
}

.header-li-float-left {
	width: 22%;
	float: left;
}

.header-li-float-right {
	width: 78%;
	float: right;
}
/*** /HEADER ***/


/* About section */
.about-section li {
	font-size: 1.125rem;
}
/* End about section */

/* Srvices section */
.services-description {
	font-size: 1rem;
	min-height: 4.75rem;
}

.services-section ul {
	padding-left: 0;
	list-style: none;
}

.services-section li {
	font-size: 1rem;
}
.support-service-number {
	font-size: 3rem;
    font-weight: 800;
    line-height: 2.25rem;
    color: rgba(91, 112, 186, 0.5);
}
/* End services section */


/*** CATALOGY ***/
.catalog-filter a, #myTab-2 a {
	color: black;
	opacity: 0.65;
	text-transform: uppercase;
	font-size: .85rem;
	transition: .25s;
}

.catalog-filter a:hover, #myTab-2 a:hover {
	color: black;
	opacity: 0.85;
}

.figure img {
	width: 100%;
	height: auto;
}

.wp-post-image {
	width: 100%!important;
	height: auto!important;
}

.project-entry a {
	text-decoration: none;
}

.button.product_type_simple {
	display: none;
}

.woocommerce-loop-product__price {
	position: absolute;
    top: 0;
    left: 0;
    padding-left: 35px;
    padding-top: 30px;
    font-family: Gilroy-Bold!important;
    font-size: 20px!important;
    color: white;
}

.product-menu .nav-link {
	font-family: HelveticaNeueCyr-Light;
    font-size: 20px;
	color: #646464;
	transition: .25s;
}

.product-menu .nav-link:hover {
	opacity: .75;
}

.product-menu .nav-link.active {
	font-family: HelveticaNeueCyr-Medium;
	color: #f49100;
}

.shkafy-cupe-section .approximation {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
/*** END CATALOGY ***/


/*** SHKAF CUPE CATALOGY ***/
.shkafy-cupe-header .header-description {
	color: #ffffff;
	font-family: HelveticaNeueCyr-Thin;
	font-size: 30px;
}

.shkafy-cupe-section .catalog-filter .nav-link {
	color: #000000;
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
}

.shkafy-cupe-section .approximation {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.shkafy-cupe-section .approximation img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}

.shkafy-cupe-section .approximation:hover img {
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.shkafy-cupe-section .card-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0,0,0,.25);
	cursor: pointer;
}

.shkafy-cupe-section .card-wrapper h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 35px;
	padding-bottom: 20px;
	font-family: HelveticaNeueCyr-Bold;
	font-size: 30px;
	color: white;
}

.shkafy-cupe-order-section h3 {
	color: #323232;
	font-family: Gilroy-Bold;
	font-size: 30px;
}

.shkafy-cupe-order-section p {
	color: #323232;
	font-family: HelveticaNeueCyr-Light;
	font-size: 22px;
}

.shkafy-cupe-section h3 {
	color: #323232;
	font-family: Gilroy-Bold;
	font-size: 28px;
}

.shkafy-cupe-section p {
	color: #323232;
	font-family: HelveticaNeueCyr-Light;
	font-size: 20px;
}

.shkafy-cupe-section .section-description {
	font-size: 20px;
	max-width: 850px;
	font-family: HelveticaNeueCyr-Medium;
	color: #323232;
	margin: auto;
	text-align: center;
}
/*** END SHKAF CUPE CATALOGY ***/


/*** SHKAF CUPE PORTFOLIO ***/
#carouselShkafCupePortfolio img {
	height: 500px;
}
/*
max-width: 75vw;
max-height: 75vh;
*/
/*** END SHKAF CUPE PORTFOLIO ***/


/*** ORDER SECTION ***/
.order-section {
	position: relative;
	overflow: hidded;
	padding-top: 75px;
	padding-bottom: 75px;
}

.order-section .order-section-img {
	position: absolute;
	top: 0;
	bottom: 0;
}

.order-section h2 {
	font-family: Gilroy-Bold;
	font-size: 30px;
	/* color: #323232; */
}

.order-section p {
	font-family: HelveticaNeueCyr-Light;
	font-size: 22px;
	color: #323232;
}

.order-section label {
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
	color: #323232;
}
/*** END ORDER SECTION ***/


/*** ACTION SECTIONS ***/

/* Action section */
.action-section p {
	font-size: 1.75rem;
}
/* End action section */

/* Action 2 section */
.action-2-section ul {
	list-style: none;
}
/* End action 2 section */

/* Action 3 section */
.action-3-section ul {
	list-style: none;
	padding-left: 0;
}
/* End action 3 section */

/* Action 4 section */
.action-4-section ul {
	list-style: none;
	padding-left: 0;
}
/* End action 4 section */

/*** END ACTION SECTIONS ***/


/*** PORTFOLIO SECTIONS ***/
.post-entry, .project-entry {
  overflow: hidden;
  position: relative;
  display: block; }
  .post-entry .figure, .project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px; }
  .post-entry h3, .project-entry h3 {
    font-size: 18px;
    line-height: 1.3; }
    .post-entry h3 a, .project-entry h3 a {
      color: #000; }
  .post-entry img, .project-entry img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .post-entry:hover img, .project-entry:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
	
.figure {
  display: inline-block; }
  
  .post-entry .figure, .project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px; }
/*** END PORTFOLIO SECTIONS ***/


/* Advantages */
#advantages-section-1 {
	background: url(images/advantages/advantages-bg-1.jpg) center;
	background-size: cover;
}

#advantages-section-2 {
	background-color: yellow;
}

.advantages-section ul {
	padding-left: 1.5rem;
	font-size: 1.125rem;
}
/* /Advantages */

/* Testimonials section */
#carouselTestimonials {
	min-height: 300px;
}
/* /Testimonials section */


/* Quiz section */
#quiz-container .form-check-input {
	opacity: 0;
	cursor: pointer;
}

#quiz-container .form-check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 0;
    user-select: none;
}

#quiz-container label {
    display: inline;
}

#quiz-container .quiz-title:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
	top: 1px;
    background: url(images/icons/radio-off.png) 0 0 no-repeat;
	cursor: pointer;
}

#quiz-container label {
	cursor: pointer;
}

.quiz-title {
	min-height: 45px;
	text-align: left;
}

#quiz-container input[type=radio]:checked + .quiz-title:before {
    background: url(images/icons/radio-on.png) 0 0 no-repeat;
}

.card-img-overlay {
	background: rgba(0,0,0,.25);
	transition: .25s;
}
.card-img-overlay:hover {
	background: rgba(0,0,0,.1);
}

.quiz-content {
	min-height: 550px;
}
/* End quiz section */

/* Video section */
#video-player {
	position: relative;
	z-index: 1;
}

#play-circle {
	width: 35%;
	height: 35%;
	background: url(images/icons/play-circle.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 41%;
	z-index: 999;
}

#stop-circle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	color: rgba(255,255,255,.25);
	display: none;
	font-size: 50px;
	cursor: pointer;
	transition: .25;
}

#stop-circle:hover {
	color: white;
}

#stop-circle i {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

#play {
	width: 35%;
	height: 35%;
	background: url(images/icons/play.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 21%;
	cursor: pointer;
	transition: .25s;
}

#play:hover {
	width: 35%;
	height: 35%;
	background: url(images/icons/play-green.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 32%;
	left: 21%;
	cursor: pointer;
	transition: .25s;
}
/* End video section */


.contacts-section { /* Contacts section */
	background: url(images/contacts-bg.jpg) top;
	background-size: cover;
	background-position: center;
} /* End contacts-section */


/* Whatsapp button */
.whatsapp {
	display: none;
}

.whatsapp img {
	position: fixed;
	bottom: 70px;
	right: -10px;
	width: 90px;
}
/* /Whatsapp button */


/***** Messenger 2 *****/
.messengers-2 {
	position: fixed;
	width: 70px;
	height: 70px;
	bottom: 80px;
	right: 0;
	display: none;
}

#messengers-2-button {
	background: url(images/icons/messenger.png) center;
	background-size: contain; 
	position: absolute;
	background-color: #00a9ec;
	width: 70px;
	height: 70px;
	z-index: 4;
	cursor: pointer;
}

#messenger-1 {
	position: absolute;
	/* background: rgba(255,255,255,.5); */
	width: 70px;
	height: 70px;
	z-index: 3;
	right: 0px;
	transition: .25s;
}

#messenger-2 {
	position: absolute;
	/* background: rgba(255,255,255,.5); */
	width: 70px;
	height: 70px;
	z-index: 2;
	right: 0px;
	transition: .25s;
}

#messenger-3 {
	position: absolute;
	/* background: rgba(255,255,255,.5); */
	width: 70px;
	height: 70px;
	z-index: 1;
	right: 0px;
	transition: .25s;
}

#messenger-1 img, #messenger-2 img, #messenger-3 img {
	opacity: 0.85;
	transition: .25s;
	width: 125%;
	position: absolute;
	top: -10px;
}

#messenger-1 img:hover, #messenger-2 img:hover, #messenger-3 img:hover {
	opacity: 1;
}
/***** End messenger 2 *****/


/*** CALLBACK BUTTON ***/
.callback-button-wrapper {
	position: fixed;
	bottom: 85px;
	right: 15px;
	z-index: 999;
}

.callback-button {
	width: 70px;
	height: 70px;
	background: #ff5200;
	border-radius: 50%;
	animation: waves linear 2s infinite;
	-webkit-animation: waves linear 2s infinite;
	transition: .25s;
	cursor: pointer;
	padding-top: 15px;
	padding-left: 15px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
}

@keyframes waves {
	0% {
		box-shadow: 0 0 0 0 rgba(255,82,0,.3), 0 0 0 0 rgba(255,82,0,.3), 0 0 8px 0 rgba(0,0,0,.5);
	}
	50% { box-shadow: 0 0 0 0 rgba(255,82,0,.15), 0 0 0 15px rgba(255,82,0,.15), 0 0 8px 0 rgba(0,0,0,.5);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(255,82,0,0), 0 0 0 30px rgba(255,82,0,0), 0 0 8px 0 rgba(0,0,0,.5);
	}
}

.callback-button:hover {
	background: #d64906;
}

.callback-button-ico {
	width: 40px;
	height: 40px;
	filter: invert();
	animation: change linear 16s infinite;
	-webkit-animation: change linear 16s infinite;
	-webkit-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@keyframes change {
	0% {
		background-image: url(images/icons/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform:rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	1% {
		background-image: url(images/icons/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	
	24%{
		background-image:url(images/icons/callback-button-ico.png);
		background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size:cover;-
		moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
		opacity:1
	}
	25%{background-image:url(images/icons/callback-button-ico.png);
	background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	26%{background-image:url(images/icons/callback-phone-ico.png);
	background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	27%{background-image:url(images/icons/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);opacity:1}
	49%{background-image:url(images/icons/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg)}
	50%{background-image:url(images/icons/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	51%{background-image:url(images/icons/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);opacity:0}
	52%{background-image:url(images/icons/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg)}
	74%{background-image:url(images/icons/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg)}
	75% {
		background-image: url(images/icons/callback-whatsapp-ico.svg);
		background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity: 0;
	}
	76% {
		background-image: url(images/icons/callback-telegram-ico.svg);
		background-position:center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size:cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity:0}
	77% {
		background-image: url(images/icons/callback-telegram-ico.svg);
		background-position:center;
		background-repeat:no-repeat;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;background-size:cover;
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
		opacity: 1;
	}
	99%{background-image:url(images/icons/callback-telegram-ico.svg);
	background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-transform:rotate(360deg);transform:rotate(360deg);opacity:1}
	100% {
		background-image: url(images/icons/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
}

@keyframes change2 {
	0% {
		background-image: url(images/icons/callback-button-close.png);
		background-position :center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	50% {
		background-image: url(images/icons/callback-button-close.png);
		background-position: center;
		background-repeat:no-repeat;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-o-background-size:cover;
		transform:rotate(180deg);
		opacity:1
	}
}

.callback-form-button {
	width:50px;
	height:50px;
	background:#ff5200;
	border-radius:50%;
	cursor:pointer;
	padding-top:10px;
	padding-left:10px;
	position:absolute;
	left:10px;
	top:10px;z-index:1;transition:.25s}
	
.callback-form-button:hover {
	background: #d64906;
}
	
.callback-form-button-ico{
	width:30px;
	height:30px;
	filter:invert();
	background:url(images/icons/callback-ico.svg) center no-repeat;
	background-size:contain;
	-moz-background-size:contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-phone-button {
	width: 50px;
	height: 50px;
	background: #ff5200;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}
	
.callback-phone-button:hover {
	background:#d64906
}

.callback-phone-button-ico{
	width:30px;
	height:30px;
	filter:invert();
	background:url(images/icons/callback-phone-ico.svg) center no-repeat;
	background-size:contain;
	-moz-background-size:contain;
	-webkit-background-size:contain;
	-o-background-size: contain;
}

.callback-whatsapp-button{
	width: 50px;
	height: 50px;
	background: #ff5200;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-whatsapp-button:hover {
	background: #d64906;
}

.callback-whatsapp-button-ico{
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(images/icons/callback-whatsapp-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-telegram-button {
	width: 50px;
	height: 50px;
	background: #ff5200;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left:10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-telegram-button:hover {
	background: #d64906;
}

.callback-telegram-button-ico{
	width: 30px;
	height:30px;
	filter: invert();
	background: url(images/icons/callback-telegram-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size :contain;
}
/*** CALLBACK BUTTON ***/


.ico-button{
	transition: .25s;
}

.ico-button:hover {
	opacity: 75%;
}


/* Quiz section */
#quiz-container .form-check-input {
	opacity: 0;
	cursor: pointer;
}

#quiz-container .form-check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 0;
    user-select: none;
}

#quiz-container label {
    display: inline;
}

#quiz-container .quiz-title:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
	top: 1px;
    background: url(images/icons/radio-off.png) 0 0 no-repeat;
	cursor: pointer;
}

#quiz-container label {
	cursor: pointer;
}

.quiz-title {
	min-height: 45px;
	text-align: left;
}

#quiz-container input[type=radio]:checked + .quiz-title:before {
    background: url(images/icons/radio-on.png) 0 0 no-repeat;
}

.card-img-overlay {
	background: rgba(0,0,0,.25);
	transition: .25s;
}
.card-img-overlay:hover {
	background: rgba(0,0,0,.1);
}

.quiz-content {
	min-height: 500px;
}
/* End quiz section */


/* Задний фон для сообщения об успешной отправки данных */
#background-msg {
	background: black;
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
	cursor: pointer;
}

/* Сообщение об успешной отправке данных */	
#message {
	z-index: 9999;
	max-width: 450px;
	position: fixed;
	top: 45%;
	left: 0%;
	right: 0%;
	text-align: center;
	font-size: 130%;
	color: white;
	margin: auto;
}

@media (max-width: 1199.98px) {
	.nav-contacts {
		text-align: left;
	}
}

@media (max-width: 991.98px) {
}

@media (max-width: 575.98px) {
	body {
		/* padding-top: 50px; */
	}
	
	h1 {
		font-size: 2rem;
	}
	
	header h2 {
		font-size: 1.5rem;
	}
	
	.header-subtitle {
		font-family: HelveticaNeueCyr-Roman;
		max-width: 1050px;
		text-align: center;
		margin: auto;
		font-size: 1.75rem;
	}
	
	.navbar-brand img {
		height: 50px;
	}
	
	.quiz-title {
		font-size: 1rem;
	}
	
	.quiz-content {
		min-height: auto;
	}
	
	/*** SHKAFY CUPE SECTIONS ***/
	/*
	.shkafy-cupe-header .parallax-2 {
		min-height: 200vh;
		background: url(images/shkafy-cupe-header-parallax.webp) 100% 25% no-repeat;
	}*/
	
	.shkafy-cupe-header .header-description {
		color: #ffffff;
		font-family: HelveticaNeueCyr-Light;
		font-size: 22px;
	}
	/*** END SHKAFY CUPE SECTIONS ***/
	
	
	/*** SHKAF CUPE PORTFOLIO ***/
	#carouselShkafCupePortfolio img {
		height: 350px;
	}
	/*** END SHKAF CUPE PORTFOLIO ***/
	
	#homePagePortfolio .carousel-inner {
		padding: inherit;
	}
	
	#homePagePortfolio .carousel-item {
		height: 375px;
		text-align: center;
		line-height: 370px;
	}
	
	/* Whatsapp button*/
	.whatsapp { display: block; }
	
	/* Messenger 2 */
	.messengers-2 {
		display: block;
	}
	
}

@media (max-width: 767.98px) {
	
}

@media (max-width: 1399.98px) {
	
}

/* Section with parallax and scroll shadow */
header .row_scroll-shadow {
	background: rgba(0,0,0,.5);
	min-height: 100vh;
}
header .row_parallax {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	background: url(images/header-bg-2.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
	display: block;
}